@import url('common.css');

.top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: hidden;
    padding: 10px 0px;
    margin: 0 0 30px 0;
}

.logo {
    position: relative;
    margin: 0 auto;
    width: 90px;
    height: 30px;
    margin-left: 80px;
}

.logo:before{
    content:'';
    position: absolute;
    left: -60px;
    top: -10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.list {
    width: 24%;
    height: 50px;
}

.main{
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

}

.m-text{
    width: 50%;
    font-size: 20px;
    font-style: italic;
    line-height: 1.5em;
}

.m-text-title{
    font-size: 28px;
}

.m-image{
    width: 40%;
    min-height: 360px;

}

.content{
    margin: 40px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.c-block, .c-article, .c-comment{
    width: 30%;
}


.b-list{
    min-height: 200px;
    margin: 0 0 30px 0;
}

.c-article{
    font-size: 14px;
    margin: 0 0 0 4%;
}

.a-list{
    margin: 0 0 30px 0;
    line-height: 1.5em;
}

.c-comment{
    font-size: 14px;
    margin: 0 0 0 4%;
}

.c-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0 0 30px 0;
    line-height: 1.5em;
}

.ava{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.text{
    width: 75%;
}

@media screen and (min-width: 600px) and (max-width: 800px) {

    .c-block{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        width: 100%;
        margin: 0 0 30px 0;
        overflow: hidden;
    }

    .b-list {
        width: 32%;
        margin: 0 0 0 2%;
    }

    .b-list:first-child{
        margin: 0;
    }

    .c-article{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        width: 48%;
        margin: 0;
    }

    .c-comment {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 48%;
        margin: 0 0 0 4%;
    }
}

@media screen and (max-width: 600px) {

    .item{
        width: 100%;
        margin: 30px 0 0;
    }

    .m-text{
        width: 100%;
        margin: 0 0 40px 0;
    }

    .m-image {
        width: 80%;
        margin: 0 auto;
    }

    .c-block{
        width: 100%;
        margin: 0 0 30px 0;
    }

    .b-list {
        margin: 0 0 30px 0;
    }

    .c-article{
        width: 100%;
        margin: 0 0 30px 0;
    }

    .c-comment {
        width: 100%;
        margin: 0;
    }
}
